<div class="page-title-area cont-page">
    <div class="container">
        <div class="page-title-content">
            <h2>Contact</h2>            
        </div>
    </div>
    <div class="shape9"><img src="assets/img/shape8.svg" alt="image"></div>
</div>
<div class="breadcrumb-div">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Contact</li>
            </ul>
        </div>
    </div>
</div>

<div class="contact-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="contact-info">
                    <span class="sub-title">Contact Details</span>
                    <h2>Get in Touch</h2>
                    <p>Whether you have a question about Executive Development Program or Right Skills You need to acquire to move to the next level, our team is ready to answer all your questions.</p>
                    <ul>
                        <li>
                            <div class="icon">
                                <i class='bx bx-map'></i>
                            </div>
                            <h3>Our Address</h3>
                            <p>C-51, BSi Business Park, Suite 106 Sector 62, Noida 201309, India</p>
                        </li>
                        <li>
                            <div class="icon">
                                <i class='bx bx-phone-call'></i>
                            </div>
                            <h3>Contact</h3>
                            <p>Mobile: <a href="tel:+44457895789">(+44) - 45789 - 5789</a></p>
                            <p>Mail: <a href="mailto:support@theleaderquest.com">support@theleaderquest.com</a></p>
                        </li>
                        <li>
                            <div class="icon">
                                <i class='bx bx-time-five'></i>
                            </div>
                            <h3>Hours of Operation</h3>
                            <p>Monday - Friday: 09:00 - 20:00</p>
                            <p>Sunday & Saturday: 10:30 - 22:00</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="contact-form">
                    <h2>Ready to Get Started?</h2>
                    <p>Your email address will not be published. Required fields are marked *</p>
                    <form [formGroup]="contactForm">
                        {{result}}
                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                                <div class="form-group">
                                    <input  name="name" type="text" formControlName="name" class="form-control" id="name" placeholder="Your name">
                                    <!-- <div class="alert alert-danger" *ngIf="this.contactForm.get('name').touched && !this.contactForm.get('name').valid">
                                        <div *ngIf="this.contactForm.get('name')?.errors?.required">Name is required.</div> -->
                                        <!-- <div *ngIf="this.contactForm.get('name')?.errors?.min">Name is minimum {{ name.errors.minlength.requiredLength }} character.</div>
                                        <div *ngIf="this.contactForm.get('name')?.errors?.max">Name is maximum 50 character.</div> -->
                                    <!-- </div> -->
                                    <div *ngIf="!this.contactForm.get('name').errors.valid" class="invalid-feedback">
                                        <div *ngIf="this.contactForm.get('name').errors.required">Name is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="email" placeholder="Your email address">
                                    <!-- <div class="alert alert-danger" *ngIf="email.touched && !email.valid">Email Address is required.</div> -->
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <input formControlName="mobile" type="text" class="form-control" placeholder="Your phone number">
                                    <!-- <div class="alert alert-danger" *ngIf="mobile.touched && !mobile.valid">Phone number is required.</div> -->
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <textarea formControlName="message" cols="30" rows="5" class="form-control" placeholder="Write your message..."></textarea>
                                    <!-- <div class="alert alert-danger" *ngIf="message.touched && !name.valid">Message is required.</div> -->
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <button type="submit" (click)="sendContact()" class="default-btn">Send Message<span></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="map">
    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.6244582211903!2d77.36235107298566!3d28.611040913750884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce5690af88405%3A0x6d50c7970775e5fa!2sBSI%20Business%20Park%20C51!5e0!3m2!1sen!2sin!4v1632076438740!5m2!1sen!2sin"></iframe>
</div>
