<div class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image text-center">
                    <img src="assets/img/about-img10.png" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="sub-title">THE LEADER QUEST</span>
                    <h2>Your One Stop Destination for Better Learning </h2>
                    <p>Courses on our platform address Learning Needs for all levels - CXO/Senior Executives, Mid-level Professional or Entry Level Staff. Our Support Team works closely with you to find the Best-Fit Course to derive maximum /value for Money. </p>
                </div>
            </div>
        </div>
    </div>
</div>