<app-modern-schooling-banner></app-modern-schooling-banner>

<div class="partner-area ptb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Universities</span>
            <h2>World's Top Universities</h2>    
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>       
        </div>
        <app-partner-slider></app-partner-slider>
    </div>
</div>

<div class="partner-area bg-f5f7fa">
    <div class="container">
        <app-top-categories></app-top-categories>
    </div>
</div>

<app-modern-schooling-courses></app-modern-schooling-courses>

<div class="bg-fffaf3">
    <app-funfacts-style-one></app-funfacts-style-one>
</div>

<app-modern-schooling-about></app-modern-schooling-about>

<app-feedback></app-feedback>

<div class="blog-area ptb-100">
    <app-home-blog></app-home-blog>
</div>

<app-modern-schooling-events></app-modern-schooling-events>

<div class="subscribe-area ptb-100">
    <div class="container">
        <app-subscribe></app-subscribe>
    </div>
    <div class="shape4"><img src="assets/img/shape4.png" alt="image"></div>
    <div class="shape13"><img src="assets/img/shape12.png" alt="image"></div>
    <div class="shape14"><img src="assets/img/shape13.png" alt="image"></div>
    <div class="shape15"><img src="assets/img/shape14.png" alt="image"></div>
</div>
