<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>{{result.name}}</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>{{result.name}}</li>
            </ul>
        </div>
    </div>
    <div class="shape9"><img src="assets/img/shape8.svg" alt="image"></div>
</div>

<div class="events-details-area pb-100">
    <div class="events-details-image">
        <img src="{{ApiUrl}}/{{result.banner_image}}" alt="image">
        <!-- <div id="timer" class="flex-wrap d-flex justify-content-center">
            <div id="days" class="align-items-center flex-column d-flex justify-content-center">{{days}} <span>Days</span></div>
            <div id="hours" class="align-items-center flex-column d-flex justify-content-center">{{hours}} <span>Hours</span></div>
            <div id="minutes" class="align-items-center flex-column d-flex justify-content-center">{{minutes}} <span>Minutes</span></div>
            <div id="seconds" class="align-items-center flex-column d-flex justify-content-center">{{seconds}} <span>Seconds</span></div>
        </div> -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="events-details-header">
                    <ul>
                        <li><i class="bx bx-calendar"></i>{{result.event_date}}</li>
                        <li><i class="bx bx-map"></i>{{result.event_location}}</li>
                        <li><i class="bx bx-time"></i>{{result.event_time}}</li>
                    </ul>
                </div>
                <!-- <div class="events-details-location">
                    <div id="map">
                        <iframe src="{{result.location_map}}"></iframe>
                    </div>
                </div> -->
                <div class="events-details-desc">
                    <h3>About The Event</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                    <span innerHTML="{{result.description}}"></span>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="events-details-info">
                    <ul class="info">
                        <li class="price">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Cost</span>
                                {{result.cost}}
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Total Slot</span>
                                {{result.slot}}
                            </div>
                        </li>
                        <!-- <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Booked Slot</span>
                                {{result.booked_slot}}
                            </div>
                        </li> -->
                        <!-- <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Pay With</span>
                                <div class="payment-method">
                                    <img src="assets/img/payment/img1.png" class="shadow" alt="image">
                                    <img src="assets/img/payment/img2.png" class="shadow" alt="image">
                                    <img src="assets/img/payment/img3.png" class="shadow" alt="image">
                                    <img src="assets/img/payment/img4.png" class="shadow" alt="image">
                                </div>
                            </div>
                        </li> -->
                    </ul>
                    <div class="btn-box">
                        <a href="{{result.event_link}}" class="default-btn"><i class="flaticon-user"></i>Know More<span></span></a>
                        <!-- <p>You must <a routerLink="/profile-authentication">login</a> before register event.</p> -->
                    </div>
                    <!-- <div class="events-share">
                        <div class="share-info">
                            <span>Share This Course <i class="flaticon-share"></i></span>
                            <ul class="social-link">
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
