<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <a routerLink="/" class="logo"><h2>Leader Quest</h2></a>
                    <p>The Leader Quest is committed to provide guidance for career development and/or selecting the right-fit Executive Development program for working professionals. The Leader Quest is a global course aggregator and does not have any affiliation with Universities/Academic Institution whose courses have been featured on the website. All trademarks are property of their respective owners.</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Explore</h3>
                    <ul class="footer-links-list">
                        <li><a routerLink="/">Home</a></li>
                        <li><a routerLink="/about">About</a></li>
                        <li><a routerLink="/courses">Courses</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3></h3>
                    <ul class="footer-links-list" style="margin-top:45px;">
                        <li><a routerLink="/events">Events</a></li>
                        <li><a routerLink="/blog">Blogs</a></li>
                        <li><a routerLink="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Address</h3>
                    <ul class="footer-contact-info">
                        <li><i class='bx bx-map'></i>C-51, BSi Business Park, Suite 106 Sector 62, Noida 201309, India </li>
                        <li><i class='bx bx-envelope'></i><a href="mailto:support@theleaderquest.com">support@theleaderquest.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p><i class='bx bx-copyright'></i>2021 The Leader Quest. All rights reserved.</p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li><a routerLink="/policies">Privacy Policy</a></li>
                        <li><a routerLink="/policies">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</footer>